body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    background-color: #ffffff;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2f2f2;
}

/* Updated background image styling */
body {
    background-image: url('real.jpg');
    background-size: auto auto; /* Width and height */
    background-position: center;
    background-repeat: no-repeat;
}

